:root {
  --primary-color: #000000;
  --accent-color: #FFA501;
}

body {
  font-family: 'Poppins', sans-serif;
  color: var(--primary-color);
}

.main {
}

.container {
  width: 1140px;
  margin: 0 auto;
  padding: 0 16px;
  box-sizing: border-box;
}

.promo {
  max-width: 1920px;
  height: 800px;
  position: relative;
  background-size: cover;
  background: url("../images/promo.jpg") no-repeat center center;
  margin: 0 auto;
}

.promo__wrapper {
  padding-top: 200px;
}

.promo__inner-box {
  max-width: 540px;
  display: flex;
  flex-direction: column;
}

.promo__box-about {
  position: relative;
  z-index: 10;
  padding: 6px 0 6px 10px;
  font-weight: 700;
  line-height: 1.5;
}

.promo__box-about::before {
  content: '';
  display: block;
  width: 36px;
  height: 36px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
  border-radius: 50%;
  background-color: var(--accent-color);
}

.promo__box-title {
  font-size: 3em;
  line-height: 1.25;
  margin: 3px 0 25px;
}

.promo__box-links {
  display: flex;
  gap: 18px;
}

.promo__box-link {
  color: var(--primary-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5;
  padding: 12px 26px;
  text-decoration: none;
}

.promo__box-link_accent {
  background-color: var(--accent-color);
}

.burger {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: end;
  cursor: pointer;
}

.promo__burger {
  position: absolute;
  top: 20px;
  right: 30px;
}

.burger::before,
.burger::after {
  content: '';
  display: block;
  width: 30px;
  height: 3px;
  background-color: var(--primary-color);
}

.burger__line {
  width: 36px;
  height: 3px;
  background-color: var(--primary-color);
}

.socials {
  display: flex;
  align-items: center;
  gap: 15px;
  line-height: 1.5;
  font-weight: 700;
}

.promo_socials {
  position: absolute;
  bottom: 236px;
  left: 50px;
  transform-origin: left bottom;
  transform: rotate(-90deg) translateY(100%);
}

.socials__line {
  width: 70px;
  height: 2px;
  background-color: var(--primary-color);
}

.socials__list {
  display: flex;
  gap: 15px;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.socials__item-link {
  display: flex;
}

.socials__item-link img {
  width: 20px;
  height: 20px;
}