:root {
  --primary-color: #000000;
  --accent-color: #FFA501;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: var(--primary-color);
}

.main {
}

.container {
  width: 1140px;
  margin: 0 auto;
  padding: 0 16px;
  box-sizing: border-box;
}

.promo {
  max-width: 1920px;
  height: 800px;
  position: relative;
  background-size: cover;
  background: url("../images/promo.jpg") no-repeat center center;
  margin: 0 auto;
}

.promo__wrapper {
  padding-top: 200px;
}

.promo__inner-box {
  max-width: 540px;
  display: flex;
  flex-direction: column;
}

.subtitle {
  display: inline-block;
  position: relative;
  z-index: 10;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
}

.subtitle_left {
  padding: 6px 0 6px 10px;
}

.subtitle::before {
  content: '';
  width: 36px;
  height: 36px;
  position: absolute;
  top: 0;
  z-index: -10;
  border-radius: 50%;
  background-color: var(--accent-color);
}

.subtitle_left::before {
  left: 0;
}

.promo__box-title {
  font-size: 3em;
  line-height: 1.25;
  margin: 3px 0 25px;
}

.promo__box-links {
  display: flex;
  gap: 18px;
}

.promo__box-link {
  color: var(--primary-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5;
  padding: 12px 26px;
  text-decoration: none;
}

.promo__box-link_accent {
  background-color: var(--accent-color);
}

.burger {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: end;
  cursor: pointer;
}

.promo__burger {
  position: absolute;
  top: 20px;
  right: 30px;
}

.burger::before,
.burger::after {
  content: '';
  width: 30px;
  height: 3px;
  background-color: var(--primary-color);
}

.burger__line {
  width: 36px;
  height: 3px;
  background-color: var(--primary-color);
}

.socials {
  display: flex;
  align-items: center;
  gap: 15px;
  line-height: 1.5;
  font-weight: 700;
}

.promo_socials {
  position: absolute;
  bottom: 236px;
  left: 50px;
  transform-origin: left bottom;
  transform: rotate(-90deg) translateY(100%);
}

.socials__line {
  width: 70px;
  height: 2px;
  background-color: var(--primary-color);
}

.socials__list {
  display: flex;
  gap: 15px;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.socials__item-link {
  display: flex;
}

.socials__item-link img {
  width: 20px;
  height: 20px;
}

.subtitle_center {
  padding: 6px 0;
}

.subtitle_center::before {
  left: 50%;
  transform: translate(-50%);
}

.main__experience {
  margin-top: 120px;
}

.experience__inner-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.experience__header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 36px;
  font-weight: 700;
  line-height: 60px;
  margin: 0;
}

.divider {
  width: 60px;
  height: 3px;
  background-color: var(--accent-color);
}

.experience__divider {
  margin: 25px 0 60px;
}

.experience__content {
  display: flex;
  gap: 136px;
}

.experience__content-group {
  display: flex;
  flex-direction: column;
  gap: 45px;
  position: relative;
  padding-left: 50px;
}

.experience__content-group::before {
  content: '';
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  top: 9px;
  left: 0;
  background-color: var(--accent-color);
}

.experience__content-group::after {
  content: '';
  width: 1px;
  position: absolute;
  top: 10px;
  left: 7px;
  bottom: 0;
  z-index: -10;
  background-color: var(--primary-color);
}

.experience__group-title {
  font-size: 20px;
  line-height: 1.5;
  margin: 0;
}

.experience__group-item {
  max-width: 430px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.experience__item-header {
  display: flex;
  gap: 16px;
}

.experience__header-icon {
  position: relative;
}

.experience__header-icon img {
  position: absolute;
  bottom: 0;
  right: -2px;
  z-index: 10;
}

.experience__header-icon::before {
  content: '';
  display: block;
  width: 36px;
  height: 36px;
  background-color: var(--accent-color);
  border-radius: 50%;
}

.experience__header-icon::after {
  content: '';
  width: 42px;
  height: 1px;
  position: absolute;
  top: 50%;
  right: 100%;
  transform: translateY(-50%);
  background-color: var(--primary-color);
}

.experience__item-title {
  font-size: 14px;
  line-height: 1.5;
  margin: 0;
}

.experience__item-subtitle,
.experience__item-description {
  font-size: 12px;
  line-height: 1.5;
  font-weight: 500;
  margin: 0;
}

.main__contacts {
  margin: 120px 0 80px;
}

.contacts__inner-box {
  display: flex;
  justify-content: center;
  gap: 68px;
}

.contacts__img-box img {
  height: 100%;
  width: 400px;
  object-fit: cover;
  object-position: center;
}

.contacts__content {
  width: 100%;
  max-width: 585px;
  display: flex;
  flex-direction: column;
}

.contacts__header {
  margin-bottom: 1px;
}

.contacts__form-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 20px 0 30px;
}

.contacts__info-text {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5;
}

.contacts__socials-list {
  display: flex;
  gap: 25px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.contacts__item-link img {
  width: 30px;
  height: 30px;
}

.input, .textarea {
  display: flex;
  position: relative;
}

.input label,
.textarea label {
  position: absolute;
  top: 0;
  left: 12px;
  background-color: white;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.5;
  padding: 0 8px;
  transform: translateY(-50%);
}

.input input,
.textarea textarea {
  width: 100%;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.5;
  padding: 13px 20px;
  border: 1px solid var(--primary-color);
  outline: none;
}

.textarea textarea {
  resize: none;
}

.contacts__form-input {
  width: 100%;
}

.contacts__form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.contacts__form-row {
  display: flex;
  gap: 25px;
}

.contacts__form-textarea textarea {
  height: 190px;
  box-sizing: border-box;
}

.button {
  color: var(--primary-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5;
  padding: 12px 26px;
  text-decoration: none;
  border: none;
}

.button_accent {
  background-color: var(--accent-color);
}

.contacts__form-btn {
  align-self: start;
}